django==5.2.17
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
pymysql==1.2.0
redis==8.1.0
python-dotenv
gevent==24.11.1
pytest==9.1.1
pytest-django==4.14.0
